@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* font-family: 'Bai Jamjuree', sans-serif; 400 600*/ 

:root {
/* ### Primary */
--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);
/* ### Neutral */
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family:'Bai Jamjuree', sans-serif;
   
}

.wrapper {
    min-width: 375px;
    max-width: 1440px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}
a {
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
}

a:hover {
    cursor: pointer;
    color: blueviolet;
}
h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}
h3 {
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    color: var(--GrayishBlue);
    margin-bottom: 1rem;
    width: 100%;
}
/* header  */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.header-icon {
    margin-bottom: 2rem;
}

.header-btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.header-btns .header-btnIOS {
    background-color: var(--StrongCyan);
    margin-right: 1rem;
    padding: .6rem 0rem;
    border-radius: 40px;
}

.header-btns .header-btnMac {
    background-color: var(--LightBlue);
    margin-left: 1rem;
    padding: .6rem 0rem;
    border-radius: 40px;
}
/* header */
/* main center */
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
    }

    .center1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .center1-desc {
        text-align: start;
    }
    .center1 .center1-desc1-title {
        margin-bottom: 1rem;
    }

    .center1-desc1-desc { /*összes az oldalon, azért nincs konkrét megadás*/
        margin-bottom: 3rem;
        font-size: 0.8rem;
    }

    .center .center1 .center1-img {
        margin: 2rem 3rem 2rem 0; 
    }
    /* .center .center1 .center1-img img {
        width: 600px;
    } */
/* main center */
/* main center2 */
    .center2-perf {
        display: flex;
        justify-content: space-between;
        
    }
    .center2-pref-1-logo {
        margin: 2rem;
    }


    .center2-pref-1 {
        width: 15rem;
        line-height: 1.5em;
    }

    
/* main center2 */
/* bottom */
    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .bottom-icons img{
        margin: 2rem 2rem 8rem 2rem;

    }
/* bottom */
/* footer */
    footer {
        background-color: var(--GrayishBlue);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .footer-icon {
        margin-left: 3rem;
    }
    .footer-icon img {
        width:50px;
        height: 50px;
    }

    .footer-desc {
        display: flex;
    }
    .footer-desc1 {
        display: flex;
        flex-direction: column;
    }

    footer .icons {
        /* justify-items: flex-end; */
        margin-right: 3rem;
    }
    footer .icons img {
        margin: 0.5rem;
    }
    footer .icons a {
        padding: 1rem;
    }
/* footer */

/* media query */

@media only screen and (max-width: 786px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
    }
    
    /* .header-icon {
        margin-bottom: 2rem;
    } */
    
    .header-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-top: 2rem;
    }
    
    .header-btns .header-btnIOS {
        margin: 1rem;
    }
    
    .header-btns .header-btnMac {  
        margin: 1rem;     
    }

/* main center */

.center1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* justify-content: space-between;
    text-align: center; */ 
}
.center1-img img {
    max-width: 375px;
}
.center1-desc {
    text-align: center;
}
.center1 .center1-desc1-title {
    margin-bottom: 1rem;
    text-align: center;
}

.center .center1 .center1-img {
    margin: 1rem; 
}

/* main center */
/* center2 */
.center2-img img {
    max-width: 375px;
}
.center2-perf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-icons img{
    margin: 1rem;
    width: 100px;
    margin-bottom: 2rem;
}

.bottom-icons img:last-child {
    margin-bottom: 5rem;
}

footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-desc {
    flex-direction: column;
}
footer .icons {
    /* justify-items: flex-end; */
    margin: 1rem;
}
.footer-icon {
    margin: 1rem;
}
}